extends layout
include mixins/dress_grid
include mixins/pagination

block content
  .container
    h1 Lista de vestidos (Index)

    +pagination(limit, page)

    +showDressGrid(dresses, 'index')

    +pagination(limit, page)