extends ../layout
include ../mixins/form-input

block content
  h1 Crear Vestido

  if (errors)
    ul
      each error in errors
        li.error  Error en: #{error.path} error: #{error.message}

  if dress
    p dress encontrado
    form(method='post' action='/dresses/create')
      +input('Id', 'text', 'dressId', '', errors)
      +input('Titulo', 'text', 'title', dress.title, errors)
      +input('Descripcion', 'text', 'description', dress.description, errors)
      +input('Color', 'text', 'colorId', dress.colorId, errors)
      +input('Marca', 'text', 'brandId', dress.brandId, errors)
      +input('Precio', 'text', 'price', dress.price, errors)
      +input('Precio Original', 'text', 'priceOriginal', dress.priceOriginal, errors)
      +input('Propietario', 'text', 'userId', dress.userId, errors)
      button(type='submit') Grabar
  else
    p dress no encontrado o vacio
    form(method='post' action='/dresses/create')
      +input('Id', 'text', 'dressId', '', null)
      +input('Titulo', 'text', 'title', null, null)
      +input('Descripcion', 'text', 'description', null, null)
      +input('Color', 'text', 'colorId', null, null)
      +input('Marca', 'text', 'brandId', null, null)
      +input('Precio', 'text', 'price', null, null)
      +input('Precio Original', 'text', 'priceOriginal', null, null)
      +input('Propietario', 'text', 'userId', null, null)
      button(type='submit') Grabar
