extends ../layout
include ../mixins/dress_grid
include ../mixins/pagination

block content
  .container
    h1 Lista de vestidos (closet)

    +pagination(limit, page)

    +showDressGrid(dresses, 'closet')

    +pagination(limit, page)
