extends ../layout
include ../mixins/dress-grid

block content
  h1 Lista de vestidos (dresses)
  
  .container
    if page > 1
      li: a(href='/?limit='+limit+'&page='+(page-1)) Anterior
    else
      li: a(href='/?limit='+limit+'&page='+(page)).deactivate Anterior
    li= page
    li: a(href='/?limit='+limit+'&page='+(page+1)) Siguiente

    +showDressGrid(dresses, 'closet')

    if page > 1
      li: a(href='/?limit='+limit+'&page='+(page-1)) Anterior
    else
      li: a(href='/?limit='+limit+'&page='+(page)).deactivate Anterior
    li= page
    li: a(href='/?limit='+limit+'&page='+(page+1)) Siguiente
