extends ../layout
include ../mixins/dress_grid
include ../mixins/pagination

block content
  .container
    .page-header
      h1 Lista de vestidos
        small  (closet)

    +pagination(limit, page)

    +showDressGrid(dresses, 'closet')

    +pagination(limit, page)
