mixin linkShowDress(id)
  a(href='/dresses/' + id) mxVer

mixin linkUpdateDress(id)
  a(href='/dresses/' + id + '/update') mxActualizar

mixin linkImagesDress(id)
  a(href='/dresses/' + id + '/images') mxImagen

mixin linkPublishDress(id)
  a(href='/dresses/' + id + '/publish') mxPublicar

mixin linkUnpublishDress(id)
  a(href='/dresses/' + id + '/publish_un') mxRetirar

mixin linkBuyDress(id)
  a(href='/dresses/' + id + '/buy') mxComprar

mixin linkRentDress(id)
  a(href='/dresses/' + id + '/rent') mxAlquilar

mixin linkCreateDress()
  a(href='/dresses/create') mxAgregar Vestido

mixin linkShowUser(id, name)
  a(href='/users/' + id) mx #{name}
