extends ../layout

block content
  h1 Lista de Usuarios

  a(href='/users/create') Agregar Usuario
  if users
    each user in users
      p= user.nickname
      a(href='/users/' + user.id) Ver
      a(href='/users/' + user.id + '/edit') Editar
  else
    p users no encontrado o vacio
